main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    background-color: rgba(238, 96, 16, 0.86);
    width: 800px;
    height: 680px;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 80px;
    color: white;
    font-size: 24px;   
}

input {
    height: 40px;
    border-radius: 30px;
    border: transparent;
}

::placeholder {
    padding-left: 20px;   
}

button {
    display: flex;
    background-color: rgba(238, 96, 16, 0.86);
    height: 40px;
    width: 300px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
    border: 1px solid white;
}