* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    max-width: 1850px;
    height: 80vh;
    margin: 40px;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
}

.humor-msg{
    font-size: 40px;
    font-family: 'B612', sans-serif;
    color: white;
    background-color: rgba(238, 96, 16, 0.86);
    margin: 25px auto;
    padding: 30px;
    border-radius: 20px;
    width: 95%;
}

.humor-msg > p {
    font-family: 'B612', sans-serif;
}

main > section {
    display: flex;
    justify-content: left;
}

.filtros-humor {
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 96, 16, 0.86);
    width: 300px;
    height: 600px;
    border-radius: 20px;
    margin: 0 50px;
}

select {
    width: 250px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-family: 'Baumans', cursive;
    font-size: 24px;
}

button {
    background-color: rgba(238, 96, 16, 0.86);
    color: #fff;
    border: #fff solid 3px;
    margin: 0 auto;
    font-size: 36px;
    border-radius: 20px;
    width: 200px;
    font-family: 'B612', sans-serif;
}

.humores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
}

.humores > img {
    margin: 0 auto;
}