* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    
    background-color: rgba(255, 255, 255, 0.9);
    width: 2230px;
    height: 930px;
    margin: 40px;
    align-content: center;
    align-items: center;
}

.humor-msg{
    font-size: 40px;
    color: white;
    background-color: rgba(238, 96, 16, 0.86);
    margin: 80px;
    padding: 30px;
    border-radius: 20px; 
}

p {
    text-align: center;
}

.filtros-humor {
    float: left;
    background-color: rgba(238, 96, 16, 0.86);
    width: 300px;
    height: 600px;
    margin-left: 80px;
    border-radius: 20px;   
}

select {
    width: 250px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;   
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px 10px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    width: 200px;
}

.humores img { 
    padding: 10px 140px;
}

 