* {
    margin: 0;
    padding: 0;
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    width: 2230px;
    height: 930px;
    margin: 40px;
    align-content: center;
    align-items: center;
}

.humor-msg{
    /* display: inline-block; */
    font-size: 40px;
    color: white;
    background-color: rgba(238, 96, 16, 0.86);
    margin: 80px;
    padding: 30px;
    border-radius: 20px; 
}

p {
    text-align: center;
}

.filtros-humor {
    display: inline-block;
    background-color: rgba(238, 96, 16, 0.86);
    width: 400px;
    height: 600px;
    margin-left: 80px;
    padding: 100px;
    border-radius: 20px; 
    /* align-items: center;    
    align-content: center; */
}

select {
    
    width: 250px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}

.humores {
    display: inline-block;
}

.humores img { 
    padding: 20px 140px;
}

 