* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    background-image: url(/img/imagemfundo.svg);
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgba(238, 96, 16, 0.86);
    height: 102px;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding: 35px;
}

div .button {
    padding: 25px;
    cursor: pointer;
}

.button a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}

.msg {
    padding: 300px 300px 200px 400px;
}

.msg h1{
    color: white;
    font-size: 80px;
    background-color: rgba(255, 255, 255, .25); 
    font-style: italic;    
}

.button-cadastro {
    text-align: center;
    padding-top: 0;
}

.button-cadastro a{
    padding: 10px 30px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    border-radius: 30px;
    background-color: rgba(238, 96, 16);
}

.footer {
    position: fixed;
    width: 100%;
    background-color: rgba(238, 96, 16, 0.86);
    height: 127.94px;
    bottom: 0;
}

.nav {
    padding-right: 800px;
}

.nav ul li {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0 30px;
    font-size: 30px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.rede-social {
    padding: 30px;
}

.rede-social a{
    padding: 20px;
}

.logo-grande img{
    padding-left: 31%;
    margin: 20px 20px;
}

.form {
    text-align: center;
    color: white;
}







