<footer class="footer">
  <div class="container">
      <div class="logo">
          <img class="logo-img" src="/img/media1.png" alt="MediabyMood">
      </div>
      <div class="nav-footer">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="contato">Contato</a></li>
              <li><a href="">Sobre nós</a></li>
          </ul>
      </div>
      <div class="rede-social">
          <a href=""><img src="/img/facebook2.png" alt="Facebook"></a>
          <a href=""><img src="/img/instagram2.png" alt="Instagram"></a>
          <a href=""><img src="/img/twitter2.png" alt="Twitter"></a>
          <a href=""><img src="/img/whatsaap2.png" alt="Whatsapp"></a>
      </div>
  </div>
</footer>