<footer class="footer">
  <div class="container">
      <div class="logo">
          <img class="logo-img" src="/img/media1.png" alt="MediabyMood">
      </div>
      <div class="nav-footer">
          <ul>
              <li><a href="/" class=<%= caminho==="/"?"active":"" %>  >Home</a></li>
              
              <li><a href="/comofunciona" class=<%= caminho==="/comofunciona"?"active":"" %> >Como Funciona ?</a></li>
              
            </ul>
      </div>

      <div class="rede-social">

          <div class="contato">
              <ul>
                    <li> <a href="/contato" class=<%= caminho === "/contato"?"active contato":"contato" %> >Contato : </a> </li>
                </ul>
            </div>

          <a href="http://www.facebook.com"><img src="/img/facebook2.png" alt="Facebook"></a>
          <a href="http://www.instagram.com"><img src="/img/instagram2.png" alt="Instagram"></a>
          <a href="http://www.twitter.com"><img src="/img/twitter2.png" alt="Twitter"></a>
          <a href="https://web.whatsapp.com"><img src="/img/whatsaap2.png" alt="Whatsapp"></a>
      </div>
  </div>
</footer>
<link  rel="stylesheet" href="/css/footer.css">