<footer class="footer">
  <div class="container">
      <div class="logo">
          <img src="/img/logo01(branco).png" alt="MediabyMood">
      </div>
      <div class="nav-footer">
          <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Contato</a></li>
              <li><a href="">Sobre nós</a></li>
          </ul>
      </div>
      <div class="rede-social">
          <a href=""><img src="/img/Facebook.png" alt="Facebook"></a>
          <a href=""><img src="/img/Instagram.png" alt="Instagram"></a>
          <a href=""><img src="/img/Twitter.png" alt="Twitter"></a>
          <a href=""><img src="/img/Whatsapp.png" alt="Whatsapp"></a>
      </div>
  </div>
</footer>