<header class="header">
  <div class="container">
      <div class="logo">
          <img src="/img/media.png" alt="MediabyMood">
      </div>
      <div class="button">
          <a href="../login">Entrar</a>
      </div>
  </div>
</header>