<header class="header">
  <div class="container">
      <div class="logo">
        <a href="/"><img src="/img/media1.png" alt="MediabyMood"></a>
      </div>
      <% if (!usuario) { %>
        <div class="button">
            <a href="/login">Entrar</a>
        </div>
      <% } else { %>
        <% if (usuario.eh_admin) { %>
          <div class="button">
            <a href="/formulario">Adm</a>
        </div>
        <% } %>
        <div class="button">
            <a href="/logout">Sair</a>
        </div>
      <% } %> 
  </div>
</header>