<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <form class="form" action="cadastro" method="post" enctype="multipart/form-data>
                    <label for="nome">Nome*</label>
                    <input type="text" name="nome" id="nome" placeholder="Digite o nome">
                    <label for="sobrenome">Sobrenome*</label>
                    <input type="text" name="sobrenome" id="sobrenome" placeholder="Digite o sobrenome">
                    <label for="email">E-mail*</label>
                    <input type="email" name="email" id="email" placeholder="E-mail">
                    <label for="password">Senha*</label>
                    <input type="password" name="senha" id="password" placeholder="Digite a senha">
                    <label for="Corfirmar senha">Confirmar senha*</label>
                    <input type="password" name="corfirmar senha" id="confirmar-password" placeholder="Confirme a senha">
                    <div class="button-registro">
                        <button type="submit" id="button-registro">Registrar Gratuitamente</button>
                    </div>
                </form>
            </main>

            <%- include('./partials/footer') %>

    </body>

    </html>