
<%- include('./partials/head2') %>

<body>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/styleSemFundo.css">
    <main>
        <img class="fundomenor" src="/img/fundomenor.png" alt="">
        <div class="Como">
            <img class="baner" src="/img/baner.png" alt="">
            <h1>Quer saber como funciona?
            É bem simples....</h1>
        </div>
        
        <div class="funciona"> 
            <img class="tela" src="/img/tela3.png" alt="">
            
        </div>
       <div class="humor">

        <img src="/img/humorgif.gif" alt="humor">
       </div>
        <a class="button-cadastro" href="cadastro">Cadastre-se</a>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>