<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MediabyMood</title>

    <!-- fontes B612, Baumans e Athiti -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="/css/styleSemFundo.css">
    <link rel="stylesheet" href="/css/comofunciona.css">
</head>

<body>
    <%- include('./partials/header') %>
    <main>
     <div class="geral">
         <div class="conteudo">
             <div class="item1">
                 <img class="banner" src="/img/fundomenor.png" alt="">
             </div>
             <div class="quer"> <div class="saber"> Quer saber como funciona?<br> É bem fácil...</div></div>
             
             <div class="nossa"> <div class="missao"> Nossa missão no MediabyMood é te ajudar a escolher 
                filme que<br> se encaixe no seu estado de humor...<br>
                Então faça seu cadastro, e nos diga qual seu humor no momento. Quanto mais pesquisas
               e avaliações você fizer 
              mais a gente vai conhecer o que você gosta de assistir 
               em cada estado de humor.<br>E então poderemos indicar
               filmes cada  vez mais de acordo com a seu perfil.</div> </div>
               <div class="cadastro">
                <a class="b-cadastro" href="/cadastro">Cadastre-se</a>
                  </div>
                  <div class="estado">
                    <a class="b-estado" href="/escolha_estado">Escolha Seu Humor</a>
                       </div>
                       <div class="explica-raiva"> <p class="ra"> RAIVA</p> <img class="raiva" src="/img/humores/raiva.png" alt=""></div>
                       <div class="explica-nostalgia"><p class="no">NOSTALGIA</p> <img class="nostalgia" src="/img/humores/nost.png" alt=""></div>            
                       <div class="explica-curioso"> <p class="cur">CURIOSO </p> <img class="curioso" src="/img/humores/curioso.png" alt=""></div>
                       <div class="vazio"> </div>
                    </div>
     </div>
     </main> 
    <%- include('./partials/footer') %>
</body>

</html>