<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MediabyMood</title>

    <!-- fontes B612, Baumans e Athiti -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="/css/styleSemFundo.css">
    <link rel="stylesheet" href="/css/comofunciona.css">
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Heebo&family=Kalam:wght@700&family=Mukta:wght@300&family=Pompiere&family=Secular+One&display=swap" rel="stylesheet">

  </head>

<body>
    <%- include('./partials/header') %>
    <main>
     <div class="geral">
         <div class="conteudo">
             <div class="item1">
                 <img class="banner" src="/img/fundomenor.png" alt="">
             </div>
             <div class="quer"> <div class="saber">Quer saber como funciona?<br> É bem fácil...</div></div>
             <div class="item2"> <p class="itemNavegue"> Navegue e descubra
              filmes e séries como
              nunca antes!!!</p> </div>
              <div class="item3"> <p class="itemEscolha"> Escolha um 
                estado <br> de humor e suas plataformas preferidas <br> e te indicaremos <br> o que e onde assistir ...</p></div>
                <div class="item4"><p class="itemCurtiu"> Não curtiu? 
                  Nos conte quão perto chegamos,e faremos<br>uma nova indicação! </p>
                  <section class="btn_escala">
                    <ul>
                        <li><button name="btn_01" id="btn_01"></button><br><label for="btn_01" id="label_01">Nada a ver!</label></li>
        
                        <li><button name="btn_02" id="btn_02"></button><br><label for="btn_02" id="label_02">Não é bem isso</label></li>
        
                        <li><button name="btn_03" id="btn_03"></button><br><label for="btn_03" id="label_03">Mais ou menos</label></li>
        
                        <li><button name="btn_04" id="btn_04"></button><br><label for="btn_04" id="label_04">Está quase!</label></li>
                    </ul>
                  
              </section>
                </div>
            <div class="item5"> 
             <p class="itemQuanto">  Então quanto mais avaliações você fizer <br>
               mais a gente vai conhecer o que <br> você gosta de assistir 
               em cada<br> estado de humor.<br>Então poderemos fazer <br> indicações 
               cada vez mais <br> próximas ao seu perfil.</p></div> 
               <div class="cadastro">
                <a class="b-cadastro" href="/cadastro">Cadastre-se</a>
                  </div>
                  <div class="estado">
                    <a class="b-estado" href="/escolha_estado">Escolha Seu Humor</a>
                       </div>
                       <div class="explica-raiva"> <p class="ra"> RAIVA</p> <img class="raiva" src="/img/humores/raiva.png" alt=""></div>
                       
                       <div class="explica-curioso"> <p class="cur">CURIOSO </p> <img class="curioso" src="/img/humores/curioso.png" alt=""></div>
                       <div class="vazio"> </div>
                    </div>
     </div>
     </main> 
    <%- include('./partials/footer') %>
</body>

</html>