<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MediabyMood</title>

    <!-- fontes B612, Baumans e Athiti -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="/css/styleSemFundo.css">
    <link rel="stylesheet" href="/css/estado.css">
</head>

<body>
    <%- include('./partials/header') %>
    <main>
     <div class="geral">
         <div class="conteudo">
             <div class="item1">
                 <img class="banner" src="/img/fundomenor.png" alt="">
             </div>
             <div class="quer"> Quer saber como funciona?<br> É bem fácil...</div>
             <div class="term"> <img src="/img/humor2.gif" alt=""></div>
             <div class="nossa"> <span> Nossa missão no MediabyMood é te ajudar <br>a escolher 
                filme que se encaixe no seu estado de humor...<br>
                Então faça seu cadastro e escolha seu humor. <br>
               Quanto mais pesquisas e avaliações você fizer mais<br>
               a gente vai conhecer o que você gosta de assistir <br>
               em cada estado de humor,e então poderemos indicar <br>
               filmes cada  vez mais de acordo com a seu perfil.</span> </div>
               <div class="b-cadastro">
                <a class="b-cadastro" href="cadastro">Cadastre-se</a>
                  </div>
                  <div class="b-estado">
                    <a class="b-estado" href="escolha_estado">Escolha Seu Humor</a>
                       </div>
         </div>
     </div>
     </main> 
    <%- include('./partials/footer') %>
</body>

</html>