<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>MediabyMood</title>
    <link rel="stylesheet" href="/css/comofunciona.css">
    <!-- fontes B612, Baumans e Athiti -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Athiti&family=B612&family=Baumans&family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('./partials/header') %>

    <main>
        <img class="fundo" src="/img/fundomenor.png" alt="">
        
        <div class="msg-home">
            <h1>Quer saber como funciona?
                É bem simples....</h1>
        </div>
        <div class="texto-msg"> 
        <img class="humor" src="/img/humorgif.gif" alt="hm">

       

        <h2>Nossa missão no MediabyMood é te ajudar <br>a escolher 
        filme que se encaixe no seu estado de humor...<br>
        Então faça seu cadastro e escolha seu humor. <br>
       Quanto mais pesquisas e avaliações você fizer mais<br>
       a gente vai conhecer o que você gosta de assistir <br>
       em cada estado de humor,e então poderemos indicar <br>
       filmes cada  vez mais de acordo com a seu perfil.</h2>
    </div>
        
        <a class="button-cadastro" href="cadastro">Cadastre-se</a>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>