<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MediabyMood</title>

    <!-- fontes B612, Baumans e Athiti -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/estado.css">
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="geral" >
            <div class="conteudo" >
                <div class="banerfundo">
                    <img class="fundo" src="/img/fundomenor.png" alt="">
                 </div>
                 <div class="msg-inicial">
                    <p>
                     Olá, <strong> Usuário </strong>! Selecione um humor para receber uma
                     indicação aleatória de acordo com essa emoção
                    </p>
                </div>
     <div class="filtros">
        <section>
            <form class="filtros-humor">
                <select name="plataforma" id="plataforma">
                    <option selected disabled>Plataforma</option>
                    <option value="netflix">Netflix</option>
                    <option value="amazon">Amazon Prime</option>
                    <option value="disney">Disney Plus</option>
                    <option value="hbo">HBO Max</option>
                </select>
                <select name="genero" id="genero">
                    <option selected disabled>Gênero</option>
                    <option value="acao">Ação</option>
                    <option value="comedia">Comedia</option>
                    <option value="romance">Romance</option>
                </select>
                <select name="ano" id="ano">
                    <option selected disabled>Ano de lançamento</option>
                </select>
                <select name="avaliacao" id="avaliacao">
                    <option selected disabled>Avaliação</option>
                </select>
                <select name="classificacao" id="classificacao">
                    <option selected disabled>Classificação</option>
                </select>
                <select name="Nacionalidade" id="pais">
                    <option selected disabled>Nacionalidade</option>
                </select>
                <button id="button">Gerar escolha!</button>
            </form>
        </section>


     </div>
     <div class="caras">
        <div class="item1">
            <img class="humor1" src="/img/humores/humores_linha.png" alt="triunfo" />
            <p class="todos">Triunfo</p>
              </div>
            <div class="item2">
             
             <p class="todos">Medo</p>
               </div>
              <div class="item3">
                  <p class="todos">Raiva</p>
                </div>
             <div class="item4">
             
               <p class="todos">Surpresa</p>
             </div>
                   <div class="item5">
                   >
                     <p class="todos">Nostalgia</p>
                   </div>
                     <div class="item6">
                         
                         <p class="todos">Apaixonado</p>
                        </div>
                        <div class="item7">
                           
                            <p class="todos">Alegre</p>
                        </div>
     </div>
            </div>
        </div>
    </main>


    <%- include('./partials/footer') %>
</body>

</html>