<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/escolha-estado.css" />
    <title>MediabyMood</title>

    <!-- fontes B612, Baumans e Athiti -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Athiti&family=B612&family=Baumans&family=Roboto&display=swap"
        rel="stylesheet" />
</head>

<body>
    <main class="main-escolha-estado">
        <div class="humor-msg">
            <p>
                Olá, <strong><%= usuarios.nome %></strong>! Selecione um humor para receber uma
                indicação aleatória de acordo com essa emoção
            </p>
        </div>
        <section>
            <form class="filtros-humor">
                <select name="plataforma" id="plataforma">
                    <option selected disabled>Plataforma</option>
                    <option value="netflix">Netflix</option>
                    <option value="amazon">Amazon Prime</option>
                    <option value="disney">Disney Plus</option>
                    <option value="hbo">HBO Max</option>
                </select>
                <select name="genero" id="genero">
                    <option selected disabled>Gênero</option>
                    <option value="acao">Ação</option>
                    <option value="comedia">Comedia</option>
                    <option value="romance">Romance</option>
                </select>
                <select name="ano" id="ano">
                    <option selected disabled>Ano de lançamento</option>
                </select>
                <select name="avaliacao" id="avaliacao">
                    <option selected disabled>Avaliação</option>
                </select>
                <select name="classificacao" id="classificacao">
                    <option selected disabled>Classificação</option>
                </select>
                <select name="?" id="?">
                    <option selected disabled></option>
                </select>
                <button id="button">Gerar escolha!</button>
            </form>

            <article class="humores">
                <div>
                    <img src="/img/humores/Triunfo.svg" alt="triunfo" />
                    <p class="triunfo">Triunfo</p>
                </div>
                <div>
                    <img src="/img/humores/Medo.svg" alt="medo" />
                    <p>Medo</p>
                </div>
                <div>
                    <img src="/img/humores/Raiva.svg" alt="raiva" />
                    <p>Raiva</p>
                </div>
                <div>
                    <img src="/img/humores/Surpresa.svg" alt="surpresa" />
                    <p>Surpresa</p>
                </div>
                <div>
                    <img src="/img/humores/Nostalgia.svg" alt="nostalgia" />
                    <p>Nostalgia</p>
                </div>
                <div>
                    <img src="/img/humores/Admiração.svg" alt="admiração" />
                    <p>Admiração</p>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="logo">
                <img src="/img/logo01(branco).png" alt="MediabyMood" />
            </div>
            <div class="nav-footer">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Sobre nós</a></li>
                </ul>
            </div>
            <div class="rede-social">
                <a href=""><img src="/img/Facebook.png" alt="Facebook" /></a>
                <a href=""><img src="/img/Instagram.png" alt="Instagram" /></a>
                <a href=""><img src="/img/Twitter.png" alt="Twitter" /></a>
                <a href=""><img src="/img/Whatsapp.png" alt="Whatsapp" /></a>
            </div>
        </div>
    </footer>
</body>

</html>