<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/formulario.css">
    <nav id="nav-adm">
       
        <ul>
            <li><a href="/">Home</a></li>
            </ul>
    </nav>
   
    <form id="formulario" method="POST" action="/formulario" enctype="multipart/form-data">
       
        <label>
            Nome:
            <input type="text" name="nome" id="nome" placeholder="Digite o nome do filme ou da série">
        </label>
        <label>
            Plataforma:
            <input type="text" name="Plataforma" id="Plataforma" placeholder="Plataforma ">
        </label>
        <label>
            Resumo:
            <input type="text" name="resumo" id="resumo"  placeholder="Resumo">
        </label>
        <label>
            Humores:
            <input type="text" name="humores" id="humores"  placeholder="Gênero">
        </label>
        <label>
            Duração:
            <input type="number" name="duracao" id="duracao"   placeholder="duração">
        <label>
            Ano:
            <input type="number" name="ano" id="ano"   placeholder="ano">
        <label>
            Foto:
           
            <div class="imagem">Clique para selecione imagem</div>
            <input accept="image/*" type="file" name="img" id="img">
        </label>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>