<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/formulario.css">
    <nav id="nav-adm">
       
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/adm">Administrador</a></li>
            <li><a href="/filmes">Filmes</a></li>
            <li><a href="/adm/logout">Sair</a></li>
        </ul>
    </nav>
   
    <form id="formulario" method="POST" action="/formulario" enctype="multipart/form-data">
       
        <label>
            Nome:
            <input type="text" name="nome" id="nome" placeholder="Digite o nome do filme ou da série">
        </label>
        <label>
            Plataforma:
            <input type="text" name="Plataforma" id="Plataforma" placeholder="Plataforma ">
        </label>
        <label>
            Humores:
            <input type="text" name="humores" id="humores"  placeholder="Gênero">
        </label>
        <label>
            Foto:
           
            <div class="imagem">Clique para selecione imagem</div>
            <input type="file" name="img" id="img">
        </label>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>