<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="msg-home">
            <h1>Precisa de uma sugestão de filme?<br>
                Nós te ajudamos!</h1>
        </div>
        <a class="button-cadastro" href="cadastro">Cadastre-se</a>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>