<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        
        <div class="msg-home">
            <h1>Precisa de uma sugestão de filme?<br>
                Nós te ajudamos!</h1>
        </div>
       <div class="cadastro">
        <a class="button-cadastro" href="cadastro">Cadastre-se</a></div>
        <div class="comofunciona">
        <a class="button-comofunciona" href="/comofunciona">Como Funciona</a></div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>