<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/primeiro_acesso.css">
    <link rel="stylesheet" href="/css/animation.css">

    <!-- fontes B612, Baumans e Athiti -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Athiti&family=B612&family=Baumans&family=Roboto&display=swap" rel="stylesheet">

    <title>MediabyMood</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <img src="/img/logo01(branco).png" alt="MediabyMood">
            </div>
            <div class="barra-busca">
                <input type="text" name="buscar" id="buscar">
                <button><img src="/img/Lupa.png" alt="lupa"></button>
                <label for="buscar">Buscar</label>
            </div>
            <div class="button">
                <a href="/html/login.html">Entrar</a>
            </div>
        </div>
    </header>

    <main>
        <div class="tela-passo">
            <h2 class="msg">Navegue e descubra<br>
                <strong>filmes</strong> e <strong>séries</strong> como<br>
                nunca antes...</h2>
                <section >
                <div class="container-carrossel">
                    <img src="/img/Home.png" alt="">
                    <img src="/img/Pagina do Login.png" alt="">
                    <img src="/img/Página de cadastro.png" alt="">
                </div>
            </section>
        </div>

        <div class="tela-passo">
            <img src="/img/2do passo.png" alt="imagem 2do passo">
            <h2 class="msg">Escolha um <br> <strong>estado de humor</strong> e passaremos uma <strong>indicação...</strong></h2>
        </div>

        <div class="tela-passo">
            <div class="msg-btn">
                <h2 class="msg">Não convenceu? <br>
                Nos conte <strong>quão perto</strong> estamos e passaremos uma <strong>nova indicação</strong>!</h2>
                <button> <a href="escolha_estado">Começar</a></button>
            </div>
            <img src="/img/3ro passo.png" alt="imagem 3ro passo">
        </div>

    </main>

    <footer class="footer">
        <div class="container">
            <div class="logo">
                <img src="/img/logo01(branco).png" alt="MediabyMood">
            </div>
            <div class="nav-footer">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Sobre nós</a></li>
                </ul>
            </div>
            <div class="rede-social">
                <a href=""><img src="/img/Facebook.png" alt="Facebook"></a>
                <a href=""><img src="/img/Instagram.png" alt="Instagram"></a>
                <a href=""><img src="/img/Twitter.png" alt="Twitter"></a>
                <a href=""><img src="/img/Whatsapp.png" alt="Whatsapp"></a>
            </div>
        </div>
    </footer>

</body>

</html>