
    .geral{
      display: flex;
      background-color: rgba(245, 235, 245, 0.815);
    
    }

    

    .conteudo{

      display: grid;
      grid-template-areas:
      'A A A A'
      'B H H C'
      'M H H D'
      'E F G N';
     
   
      max-width: fit-content;
      background-color:rgba(245, 235, 245, 0.815);
  }
  
  /* SOMENTE UMA COR DE FUNDO NOS DIVS DA COLUNA DA ESQUERDA, PARA VER QUE AS IMAGENS NÃO ESTÃO NA MESMA PROPORÇÃO DOS BLOCOS */
 


.banner{
  display: grid;
    grid-area: A;
    width: 100%;
    height: 300px;
    box-shadow: 1px 3px 20px 3px  rgba(53, 54, 54, 0.74);

  }



.como{
display: grid;
grid-area: A;
font-family: 'Athiti', sans-serif;
font-size: 25px;
color: rgb(255, 248, 248);
background-color: rgba(85, 82, 82, 0.582);
width: 500px;
height: 200px;
margin-left: 100px;
border-radius: 15px;
}
  .term{
  display: grid;
  grid-area:A ;
  height: 120px;
  margin-top: 320px;
  margin-left: 300px;
  }

.item{
    display: grid;
    grid-area: H;
    background-color: rgba(245, 235, 245, 0.815);
    margin-right: 500px;
    margin-bottom: 500px;
    width: 500px;
    height: 400px;
 
}
.nossa{
  font-family: 'Athiti', sans-serif;
    color: #000;
  display: grid;
  grid-area: H;
  font-size: 25px;
  width: 500px;
  height: 500px;
  margin-right: 500px;
  margin-bottom: 500px;
}


  .b-cadastro {
    display: grid;
    grid-area: F;

    font-size: 36px;
    font-family: 'Baumans', 'cursive';
    text-align: center;
   margin-bottom: 50px;
margin-left: 10px;
    width: 250px;
    height: 68px;
    border-radius: 30px;
    background-color: rgba(107, 54, 190, 0.904);
  color: #fff;
    text-decoration: none;

    transition: all 0.25s;
  }
  
  .button-cadastro:hover {
    background-color: rgb(173, 10, 110);
  }
  .b-estado {
    display: grid;
    grid-area: G;
  
  
    font-size: 25px;
    font-family: 'Baumans', 'cursive';
    text-align: center;
  

    width: 250px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(107, 54, 190, 0.904);
  text-decoration: none;
color:#fff;
    transition: all 0.25s;
  }
  
  .button-estado:hover {
    background-color: rgb(173, 10, 110);
  }
