.main{
  display: grid;
    grid-template-areas:
    'U U U U U'
    'A H H H C'
    'F L J N C';
    grid-gap: 0px;
   
    background-color: white;
  }
  .colEsquerda > div{
  background-color: rgba(255, 255, 255, 0.8);
  }
  img.fundo{
  grid-area: U;
  
  font-size: 30px;
  
  margin-top: 20px;
  
  
  }
  
  
  .msg-home{
  grid-area: U ;
  margin-bottom: 300px;
  
  
 
  
    width: 800px;
    height: 100px;
  font-size: 20px;
  margin-right: 30px;
  }
  .texto-mgs{
  grid-area: H;
  
  }
  
  