
#nav-adm{
    display: flex;
    align-items: center;
	background-color: rgba(175, 91, 171, 0.86);
    width: 13%;
    height: 7%;
    margin: 20px;
	border-radius: 10px;
    
}
#nav-adm ul{
    list-style: none;
    padding: 5;
    margin: 0;
    display: flex;
    
}

#nav-adm ul li {
    display: block;
	margin-left: 15px;
}

#nav-adm ul li a{
    display: flex;
    padding: 25px;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(238, 231, 231);
}


body{
    background-color: rgb(154, 166, 154);
}

.geral {
    display: flex;

    width: 100%;
 
 
  }

  .conteudo {
    display: grid;
	grid-template-areas:
	'A J J J'
	'B B B B'
	'F F U U'
	'D D D D';
   
	width: 800px;
    margin-top: -80px;
	margin-left: 400px;
	background-color: rgba(175, 91, 171, 0.86);
	color: #FFF;
height: fit-content;
	border-radius: 10px;
  }


.fornome{
    display: grid;
    grid-area: A;
    margin-top: 30px;
    margin-left: 20px;
     
}
.nm{
width: 200px;

}

.resum{
    display: grid;
    grid-area: J;
    font-size: 25px;  
    margin-left: 420px;
    margin-top: -50px;
    
}
.box{
    width: 200px;
    height: 200px;
}
.hu{
	font-size: 25px;
    margin-left: 20px;
}
.humo{
    display: grid;
grid-area: B;
margin-left: 20px;


	font-size: 25px;
    
}
.caixa1{
    width: 25px;
    height: 25px;
    padding: 5px;
}

.duracao{
    display: grid;
    grid-area: A;
    font-size: 25px;
    margin-top: -200px;
    margin-left: 20px;
}
.ano{
    margin-left: 20px; 
    display: grid;
    grid-area: A;
}

.foto{
    display: grid;
    grid-area: D;
    font-size: 25px;
    margin-left: 20px;
    padding: 20px;
}


.salvar{
  
    display: grid;
    grid-area: D;
    
}

.btn-salvar{
   
    background-color: black;
    color: #FFF;
    border-radius: 10px;
    margin-left: 600px;
    margin-top: -80px;
  width: 100px;
  height: 50px;
    
}