

      .geral{
        display: flex;
        background-color: rgba(210, 241, 214, 0.815);

      }

      .conteudo{
        display: grid;
        grid-template-areas:
      'A A A A'
      'H H H C'
      'M M M M'
      'J T E P';
      grid-gap: 1px;
   
      width: 100%;
      background-color:rgba(161, 159, 159, 0.37);
  }
    
    /* SOMENTE UMA COR DE FUNDO NOS DIVS DA COLUNA DA ESQUERDA, PARA VER QUE AS IMAGENS NÃO ESTÃO NA MESMA PROPORÇÃO DOS BLOCOS */
   
    .banerfundo{
        display: grid;
          grid-area: A;
        
        }

     
 
   
    .filtros{
      display: grid;
      grid-area:H ;
      margin-top: 30px;
    }
    
    .msg-inicial{
      /* font-size: 40px; */
      font-size: 30px;
      font-family: 'B612', sans-serif;
      color: white;
      background-color: rgba(215, 211, 240, 0.794);
    margin-top: 30px;
  display: grid;
  grid-area: C;
      border-radius: 20px;
      width: 400px;
      padding: 10px;
     
  }
  .caras{
    display: grid;
    grid-area: M;
margin-top: 30px;
width: 96%;
  }
    .humor1{
      display:grid;
     
      grid-area: M;
      background-color: rgb(179, 174, 174);
    }
 
     p.todos {
        font-family: 'B612', sans-serif;
    }

    .filtros-humor {

        width: 800px;
        margin-left: 20px;
        font-size: 30px;
        font-family: 'B612', sans-serif;
        background-color: rgba(238, 96, 16, 0.86);
        border-radius: 20px;
   
    }
    
    select {
        max-width: 200px;
        margin: 10px;
        height: 10%;
        max-height: 40px;
        border-radius: 25px;
        border: none;
        text-align: center;
        font-family: 'Baumans', cursive;
        font-size: 18px;
    }
    
    button {
        background-color: rgba(238, 96, 16, 0.86);
        color: #fff;
        border: #fff solid 3px;
        margin: 10px auto;
        font-size: 36px;
        border-radius: 20px;
        width: 300px;
        font-family: 'B612', sans-serif;
    }
p.todos{
  font-family: 'B612', sans-serif;
  font-size: 15px;
}

     p.todos{
        background-color: #A640CA;
        width: 75px;
        height: 45px;
        transition: all 0.25s;
padding: 2px;
        border-radius: 15px;
        color: #fff;
    }
p.todos:hover{
        background-color: #A640CA;
        color: #fff;
       
    }
    .item1{
      display:grid;
      grid-area: J;
    
      margin-left: 10px;
     

    }
    .item2{
      display:grid;
      grid-area: J;
     
      margin-left: 110px;
    }
    .item3{
      display:grid;
      grid-area: J;
      margin-left: 220px;
  
    }
    .item4{
      display:grid;
      grid-area:J;
      
      margin-left: 330px;
    }
    .item5{
      display:grid;
      grid-area:J;
      margin-left: 420px;

    }
    .item6{
      display:grid;
      grid-area: J;
margin-left: 530px;
    }
    .item7{
      display:grid;
      grid-area: T;
      margin-left: 10px;
    }
    .item8{
      display:grid;
      grid-area: T;
      margin-left: 130px;
    }
    .item9{
      display:grid;
      grid-area: T;
      margin-left: 220px;
    }
    .item10{
      display:grid;
      grid-area: P;

    }
    .item11{
      display:grid;
      grid-area: P;
      margin-left: 110px;
    }
    .item12{
      display:grid;
      grid-area: P;
      margin-left: 210px;
    }
    .item13{
      display:grid;
      grid-area: P;   
       margin-left: 330px;
  
    }