#nav-adm{
    display: flex;
	background-color: rgba(175, 91, 171, 0.86);
    width: 180px;
    margin-left: 60px;
	border-radius: 10px;
	
}

 



#nav-adm div{
    padding: 10px;
    font-size: 30px;
}
#nav-adm div span{
  font-size: 30px;
    display: block;
}
#nav-adm ul{
    list-style: none;
    padding: 5;
    margin: 0;
    display: flex;
}

#nav-adm ul li {
    display: block;
	margin-left: 15px;
}

#nav-adm ul li a{
    display: flex;
    padding: 25px;
font-size: 35px;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(238, 231, 231);
}




.geral{
	display: flex;
	background-color: rgba(255, 255, 255, 0.108);
}

.conteudo{

	display: grid;
	grid-template-areas:
	'A A A A'
	'B B B B'
	'F F U U'
	'D D D D';
   
	width: 500px;

	margin-left: 400px;
	background-color: rgba(175, 91, 171, 0.86);
	color: #FFF;
	padding: 50px;
	border-radius: 10px;
}
.nome{
	display: grid;
	grid-area: A;
	margin-left: 100px;
}

.resumo{
	display: grid;
	grid-area: B;
	height: 30px;
	width: 150px;
	margin-top: -180px;
	margin-left: 10px;
}
.re{
	display: grid;
	grid-area: B;
	height: 200px;
	width: 200px;
	margin-top: 20px;
	margin-left: 100px;
}
.sub{
	margin-top: 230px;
	display: grid;
	grid-area: B;
	width: 80px;
	height: 40px;
	margin-left: 40px;
}
.plataforma{
	display: grid;
	grid-area:A ;
	margin-top: -80px;
	margin-left: 280px;
}
.ano{
	display: grid;
	grid-area: D;
	margin-top: 30px;
	margin-left: -230px;
}
.duracao{
	display: grid;
	grid-area: D;
	margin-top: 1200px;
	margin-left: -500px
}
.foto{
	display: grid;
	grid-area: D;
	margin-top: 100px;
	margin-left: -250px;

}
.salvar{
	display: grid;
	grid-area: D;
	margin-top: 500px;
	margin-left: -400px;
	height: 100px;
}

.humo{
	display: grid;
	grid-area: F;
	margin-top: 300px;
	font-size: 25px;

}
.humo2{
	display: grid;
	grid-area: U;
	margin-left: 300px;
	margin-top: -600px;
	font-size: 25px;
}
.hu{
	font-size: 40px;
padding: 10px;
text-decoration: underline;
}