main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg-home {
  font-family: 'B612', sans-serif;
 
/* From https://css.glass */


background: rgba(241, 203, 219, 0.356);
background: radial-gradient(circle, rgba(244, 232, 237, 0.753) 0%, rgba(156, 161, 167, 0.541) 100%);

border-radius: 20px 80px 20px 80px;


  width: 1095px;
  height: 191px;
  margin-bottom: 100px;
}

.msg-home h1{
  color: white;
  text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.75);
  font-size: 64px;
  font-style: italic;  
  font-weight: bold;
}

.button-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: 'Baumans', 'cursive';
  text-align: center;
  padding-top: 0;
  width: 312px;
  height: 68px;
  border-radius: 30px;
  background-color: rgba(107, 54, 190, 0.904);

  text-decoration: none;
  color: white;
  transition: all 0.25s;
}

.button-cadastro:hover {
  background-color: rgb(173, 70, 10);
}

@media(max-width:390px){
  body {
    width: 50%;
  }
}