main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Indicação */

.indicacao_conteiner {
  background-color:rgba(237, 237, 237, 0.95);
  width: 1080px;
  /* height: 658px; */
  height: 558px;
  border-radius: 16px;
  margin: 10px;
  padding: 1.5%;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr 3fr 2fr;
  grid-gap: 5px;
  grid-template-areas:
    "img info"
    "img resumo"
    "prg esc";
}

.indicacao_conteiner > img {
  max-width: 200px;
  grid-area: img;
  padding: 5px;
  align-self: center;
}

.filme_info_geral {
  grid-area: info;
  /* background-color: aqua; */
  color: #ee6010;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filme_info_geral > article:last-child {
  /* background-color: #ee6010; */
  margin-right: 25%;
}

.filme_resumo {
  grid-area: resumo;
  /* background-color: aquamarine; */
  color: #ee6010;
  padding: 5px;
}

.ind_pergunta {
  grid-area: prg;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
  padding: 5px;
}

.ind_pergunta > div {
  font-family: 'B612', 'sans-serif';
  font-size: 24px;
  color: rgb(33, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 85px;
  border-radius: 16px;
}

#btn_indicacao {
  font-family: 'B612', 'sans-serif';
  font-size: 24px;
  text-decoration: none;
  text-align: center;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee6010;

  width: 150px;
  height: 85px;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 48px;
}

.btn_escala {
  grid-area: esc;
  /* background-color: bisque; */
  padding: 5px;
  display: flex;
  position: relative;
}

.btn_escala > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
  align-content: center;
}

.btn_escala > ul > li {
  text-align: center;
  list-style-type: none;
  /* border: solid black 2px; */
  z-index: 2;
}

.btn_escala > ul > li > button {
  border: solid white 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn_escala label {
  /* background-color: #ee6010; */
  display: block;
  margin: 10px;
}

#btn_01 {
  background-color: #1083EE;
  cursor: pointer;
  transition: border 0.2s;
}

#btn_01:hover {
  border: solid white 4px;
}

#label_01 {
  color:#3f3f3f;
  font-family: "B612", "open sans";
  font-weight: bold;
  font-size: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

#label_01:hover {
  color: #1083EE;
  /* text-shadow: 1px 1px 2px #000000; */
}


#btn_02 {
  background-color: #10C6EE;
  cursor: pointer;
  transition: border 0.2s;
}

#btn_02:hover {
  border: solid white 4px;
}

#label_02 {
  color:#3f3f3f;
  font-family: "B612", "open sans";
  font-weight: bold;
  font-size: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

#label_02:hover {
  color: #10C6EE;
}

#btn_03 {
  background-color: #EEBD10;
  cursor: pointer;
  transition: border 0.2s;
}

#btn_03:hover {
  border: solid white 4px;
}

#label_03 {
  color:#3f3f3f;
  font-family: "B612", "open sans";
  font-weight: bold;
  font-size: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

#label_03:hover {
  color: #EEBD10;
}

#btn_04 {
  background-color: #EE6010;
  cursor: pointer;
  transition: border 0.2s;
}

#btn_04:hover {
  border: solid white 4px;
}

#label_04 {
  color:#3f3f3f;
  font-family: "B612", "open sans";
  font-weight: bold;
  font-size: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

#label_04:hover {
  color: #EE6010;
}

.btn_escala > hr {
  border: solid white 4px;
  position: absolute;
  width: 75%;
  margin-left: 12%;
  top: 35%;
}

/* Barra de humor */

.humor_conteiner {
  background-color: rgba(255, 255, 255, .9);
  width: 220px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.humor_conteiner > h3 {
  font-family: 'Baumans', 'cursive';
  font-size: 1.8rem;
  text-align: center;
  margin: 5px 8px;
}

.humor_conteiner > img {
  width: 80%;
}

.humor_conteiner > p {
  background-color: darkgrey;
  width: 60%;
  text-align: center;
  border-radius: 8px;
  padding: 4px 10px;
  font-family: 'B612', 'sans-serif';
  font-size: 1.5rem;
}

.humor_conteiner > div {
  background-color: darkgrey;
  width: 90%;
  text-align: center;
  padding: 10px 5px;
  border-radius: 10px;
  font-family: 'B612', 'sans-serif';
  font-size: 1.25rem;
  cursor: pointer;
}

.modal_fundo {
  display: none;

  bottom: 0px;
  position: absolute;
  transform-origin: 50;
  background-color: #00000050;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.modal_indicacao {
  display: none;

  position: absolute;
  z-index: 3;

  background-color:rgba(237, 237, 237, 0.95);
  border-radius: 16px;
  padding: 1.5%;
  color: #ee6010;
}

.modal_indicacao a {
  text-decoration: none;
}

.modal_indicacao button {
  display: block;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  padding: 8px;

  font-family: 'B612', 'sans-serif';
  font-size: 1.5rem;
  color: #fff;
  background-color: #ee6010;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 0.2s;
}

.modal_indicacao > button:hover {

  color: #fff;
  background-color: #a54a16;

}