main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Indicação */

.indicacao_conteiner {
  background-color:crimson;
  width: 1080px;
  height: 658px;
  border-radius: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr 3fr 2fr;
  grid-gap: 5px;
  grid-template-areas:
    "img info"
    "img resumo"
    "prg esc";
}

.indicacao_conteiner > img {
  max-width: 200px;
  grid-area: img;
  padding: 5px;
}

.filme_info_geral {
  grid-area: info;
  background-color: aqua;
  padding: 5px;
}

.filme_resumo {
  grid-area: resumo;
  background-color: aquamarine;
  padding: 5px;
}

.btn_pergunta {
  grid-area: prg;
  background-color: blueviolet;
  padding: 5px;
}

.btn_escala {
  grid-area: esc;
  background-color: bisque;
  padding: 5px;
}

/* Barra de humor */

.humor_conteiner {
  background-color: rgba(255, 255, 255, .9);
  width: 220px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.humor_conteiner > h3 {
  font-family: 'Baumans', 'cursive';
  font-size: 1.8rem;
  text-align: center;
  margin: 5px 8px;
}

.humor_conteiner > img {
  width: 80%;
}

.humor_conteiner > p {
  background-color: darkgrey;
  width: 60%;
  text-align: center;
  border-radius: 8px;
  padding: 4px 10px;
  font-family: 'B612', 'sans-serif';
  font-size: 1.5rem;
}

.humor_conteiner > div {
  background-color: darkgrey;
  width: 90%;
  text-align: center;
  padding: 10px 5px;
  border-radius: 10px;
  font-family: 'B612', 'sans-serif';
  font-size: 1.25rem;
  cursor: pointer;
}