* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.busc{
 display: flex;
 flex-direction: row-reverse;
 margin-right: 20px;
}

.todos{
  font-size: 20px;
  margin-left: 20px;
}
.apaga{
  margin-left: 20px;
}
.edita{
  margin-left: 20px;
}
.ima{
  margin-left: 20px;
  width: 200px;
  height: 300px;
}
