
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url(/img/fundo.png);

}

.header {
    position: fixed;
    width: 100%;
    background-color: rgba(215, 211, 240, 0.794);
    box-shadow:  3px 10px 8px  rgba(53, 54, 54, 0.74);
    height: 100px;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.logo{
    padding: 35px;
}

div .button {
    padding: 25px;
    cursor: pointer;
    margin-left: auto;
}

.button a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(3, 0, 0);
    border: 1px solid rgb(12, 11, 11);
    border-radius: 20px;
    font-family: Athiti;
    transition: all 0.25s;
}

.button a:hover {
    background-color: rgba(107, 54, 190, 0.904);
}

.footer {
    position: fixed;
    margin-top: auto;
    width: 100%;
    background-color: rgba(215, 211, 240, 0.794);
    box-shadow:  30px 10px 8px 20px rgba(53, 54, 54, 0.74);
    height: 100px;
    bottom: 0;
}

.nav-footer {
    font-family: 'Athiti', sans-serif;
    padding-right: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-footer ul li {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0 30px;
    font-size: 30px;
}

.nav-footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 0;
    text-shadow: 0 0 0 none;
    transition: all 0.25s;
}

.nav-footer a:hover {
    bottom: 8px;
    text-shadow: 0 0 8px rgb(7, 0, 0);
}

.rede-social {
    padding: 30px;
    margin-left: auto;
}

.rede-social a{
    padding: 20px;
}

.rede-social a > img {
    position: relative;
    bottom: 0;
    transition: all 0.25s;
}

.rede-social a > img:hover {
    bottom: 8px;
}


@media (max-width: 1150px) {


    /*
    .nav-footer a {
        font-size: 24px;
    }
*/
    .container {
        display: flex;
        flex-direction: column;
    }

    div .button {
        margin-left: 0;
    }
}